<ion-header>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="ion-text-center">
            Login
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="submitLoginFrom()" [formGroup]="loginForm">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input formControlName="email" placeholder="Email"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input formControlName="password" placeholder="Password"></ion-input>
                    </ion-item>
                </ion-item-group>
                <ion-button [disabled]="!loginForm.valid" expand="block" type="submit">Login</ion-button>
            </form>
            <ion-item class="ion-text-left" lines="none">
                <ion-label [routerLink]="['/auth/forgot-password']">Forgot Password</ion-label>
                <ion-label [routerLink]="['/auth/register']">Register</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
