<ion-header>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Register</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="submitRegisterForm()" [formGroup]="registrationForm">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input formControlName="name" placeholder="Name"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input formControlName="email" placeholder="Email"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input formControlName="password" placeholder="Password"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
                    </ion-item>
                    <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit" class="ion-margin-top">
                        Register
                    </ion-button>
                    <ion-button [routerLink]="['/auth/login']" fill="outline" color="success">
                        Login
                    </ion-button>
                </ion-item-group>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
