<ion-header>
    <ion-toolbar>
        <ion-title>Add Expense</ion-title>
        <ion-button slot="end" fill="outline" (click)="dismissModal()">
            X
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="addExpenseForm">
        <ion-item>
            <ion-input placeholder="Enter Amount" type="text" formControlName="amount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea placeholder="Enter Description" type="text" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Select Type</ion-label>
            <ion-select okText="Okay" cancelText="Cancel" formControlName="type" interface="popover">
                <ion-select-option value="general">General</ion-select-option>
                <ion-select-option value="shopping">Shopping</ion-select-option>
                <ion-select-option value="movie">Movie</ion-select-option>
                <ion-select-option value="dinner">Dinner</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button color="primary" fill="solid" size="large" expand="block" (click)="initCreateExpense()">Add
        </ion-button>
    </form>
</ion-content>